<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="speeding_subway_car.jpg" alt="Los Angeles" width="1260" height="500">
      <div class="center jumbotron">
        <h1>Subway Incoming!!!!!!</h1>
        <br><br><br>
      <%= link_to "Are you Sure you Want to Proceed?", pet_shop_burning_path, class: "btn btn-danger btn-xlarge-danger" %>
      </div>
    </div>
