<div class="container">
  <h1>Stations</h1>
  <div class="list-group">
    <%@stations.each do |station|  %>
    <div class="list-group-item">
      <h4><%=link_to(station.name, station_path(station))%>  <span class="badge"> <%= (station.station_complaints.count) %></span></h4>
    </div>
      <% end %>
</div>

</div>
