



<div class="container">
  <h1>Trains</h1>
  <%= area_chart Train.most_complaints, xtitle: "Line", ytitle: "Complaints", width: "100%" %>

  <div class="list-group">
    <%@trains.each do |train|  %>
    <div class="list-group-item">
      <h4><%=link_to("#{train.line} Train", train_path(train))%> <span class="badge"> <%= (train.train_complaints.count) %></span></h4>
      </div>
      <%end  %>
</div>
</div>
