// change navbar color
$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";


#logo{
  float: left;
  font-size: 1.8em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
// homepage center
.jumbotron {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
}

.jumbotron h1{
  background-color :hsla(0, 0, 0, 0.4);

  color: white;

}
.btn-xlarge{
  font-size: 1.7em;
  background-color: #6c54f2;
}
